# Public network tobe used for the stack
PUBLICNETWORK=provider-network

# RC file for admin access of stack
ADMINRC="/mnt/novello/TESTING/overcloudrc"

# Directory tobe used for storing configuration of running applications
APPSDIR="/mnt/novello/TESTING/PROJECTS/APPS"

# Directory tobe used for storing configuration of blueprints
BPSDIR="/mnt/novello/TESTING/PROJECTS/BPS"

# tag to be appended for the stack and images.
# This is to indetify the resources on the infrastructorure being shared by multiple teams.
TAG="my-team"

# URL containing FAQs about usage of novelloshell in the environment
# It is displayed on the first screen of the novelloshell

FAQURL="https://github.com/ashish-k-s/NovelloShell"

# Name of RHOS cluster for user's information.
# String "RHOS" is used of this name is not set.
#CLUSTERNAME="rhos-c"
CLUSTERNAME="rhos-d"

# Set the domain to be used if it is different from the domain being used in ADMINRC file
# This may require when there is no admin access for rhosp i.e. with ADMINACCESS=no
DOMAIN="subdomain.domain.com"

# File containing list of users for which admin rights are to be assigned.
# The admin rights involves the ability to delete existing blueprint,         
# edit running application, create new blueprint by saving the running application as blueprint, etc.
# Functionalities requireing admin rights are displayed in ALLCAPS.
ADMINUSERSFILE="/mnt/novello/TESTING/novelloshell-admins"

# Images having this string in it's name will be skipped while creating new blueprint 
# and deleting the existing blueprints
# Make sure to include this string in the name of common images so as to avoid duplicate image creation and deletion.
# Common images can be stored only once and can be shared by different blueprints to save the space.
SKIPIMAGETAG="myteamcommon"

# Path of directory where image files are stored 
# This path is looked for upload of image in OpenStack 
IMAGEFILESPATH="/export/novello/TESTING/PROJECTS/IMAGES"

# This is to be used with an OSP setup where script does not have full admin rights
# NovelloShell will not manage creation of projects per lab in this case.
# This option is not fully implemented and not tested
# ADMINACCESS="no"

# This option adds the pre-set suffix to every openstack command used by the script
# EXAMPLE:
# CLISUFFIX="--insecure"

# Behaviour of "ADMINACCESS" option is changed in v5
# Option ADMINACCESS is deprected and new option below is introduced here.
# This option is to be used with an OSP setup where NovelloShell does not have full admin rights.
# In such case, custom script should be made available to manage user and project creation.
# NovelloShell will use the custom script instead of using openstack commands for project and user creation.
# The custom script should take two arguments:
# 1) action: create or delete
# 2) lab name: this is the (same) name of the user and project to be created.
# Tasks to be performed by custom script:
#        openstack project create $lab > /dev/null 2>&1
#        openstack user create --password redhat --project $lab $lab > /dev/null 2>&1
#        openstack role add --project $lab --user $lab _member_ > /dev/null 2>&1
#        openstack role add --project $lab --user admin admin > /dev/null 2>&1
#        openstack quota set --cores -1 --instances -1 --ram -1 $lab > /dev/null 2>&1
# A shell script having admin access can be used to perform above tasks. The script can be armoured to hide the admin credentials.
# or this can also be performed by ansible tower job if the option is available.
#
# If below variable is not set, it is considered that NovelloShell has admin rights with the ADMINRC file set above.

ADMINACCESS=no
ADMIN_USRROL_SCRIPT="/path/to/rhosp_manage-user-project.sh"
ADMIN_STACK_SCRIPT="/path/to/rhosp_stack-list.sh"
ADMIN_PUBLISH_IMAGE_SCRIPT="/path/to/rhosp_publish-image.sh"
PROJECTID=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx

